/* footer styles */
.footer {
  background-color: #11122b;
  color: #ad974f;
  font-family: "Ubuntu Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  margin-top: -4px;
}

.logo-footer img {
  width: 100px;
  height: 100%;
  /*filter: brightness(50%);*/
  opacity: 0.8;
}

.footer-phone-hours span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
  letter-spacing: 2px;
}

.footer-phone-hours > .hours {
  font-size: 0.8em;
  color: #cbcbcb;
}

.footer > .links {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400px;
}

.footer > .social-media-icons-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
  font-size: 1.5em;
  color: #cbcbcb;
  transition: 00.5s;
}

.footer > .social-media-icons-wrapper a:hover {
  color: #ad974f;
}

.footer > .copyright-wrapper {
  margin-bottom: 42px;
  font-size: 0.7em;
  color: #858585;
}
